:root {
    --primary-color: #4A90E2;
    --secondary-color: #2E3A59;
    --accent-color: #F5A9A9;
    --background-color: #F4F4F4;
    --text-color: #333333;
    --button-color: #66BB6A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Big Shoulders', arial, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto; 
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
    height: 100vh;
    background-color: var(--background-color);
}

header {
    display: flex;
    grid-area: header;
    background-color: var(--secondary-color);
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

header h1 {
    color: white;
    text-align: center;
    margin: 0;
}


main {
    grid-area: main;
    margin: 0 auto;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

img {
    display: block;
    margin-bottom: 20px;
    max-width: 600px;
    background: black;
    animation: fadeIn 15s;
}

footer {
    grid-area: footer;
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 15px;
    border-top: 1px solid var(--primary-color);
}

#lastModified {
    color: var(--accent-color);
}

footer #currentyear {
    font-weight: bold;
}
