* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr auto; 
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer";
    height: 100vh;
    background-color: rgb(73, 70, 70);
}

header {
    grid-area: header;
    
}

header h2 {
    color: white;
    padding: 25px 0 0 25px;
}

nav {
    display: flex;
    background-color: black;
    padding: 25px;
    justify-content: space-around;
    margin-top: 100px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    grid-area: main;
    background-color: gray;
    padding: 20px;
}

aside {
    grid-area: aside;
    background-color: white;
    padding: 20px;
}

.main-aside {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 500px;
}

footer {
    grid-area: footer;
    color: white;
    text-align: center;
    padding: 15px;
    margin-bottom: 100px;
}