:root {
    --primary-color: #228B22;
    --secondary-color: #87CEEB;
    --accent-color: #F4A300;
    --background-color: #F0F8FF;
    --text-color: #333333; 
    --button-color: #66BB6A; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: var(--background-color);
    margin: 0;
}

header {
    display: flex;
    background-color: var(--secondary-color);
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

header h1 {
    font-family: 'Big Shoulders', arial, sans-serif;
    color: black;
    text-align: center;
    margin: 0;
}

h2 {
    font-family: 'Big Shoulders', arial, sans-serif;
    text-align: center;
    margin: 25px;
    color: var(--primary-color);
}

nav {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

nav a:hover {
    transform: translateY(-2px);
    text-decoration: overline;
    color: var(--accent-color);
}

.hamburger {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.container {
    gap: 20px;
    margin: 0px auto;
    place-items: center;
    width: 100%;
    max-width: 1000px;
}

/* section {
    background-color: rgb(182, 179, 179);
    padding: 25px;
    border-radius: 25px;
}

figure {
    display: flex;
    flex-direction: column; 
    text-align: center; 
    margin: 0;
}

figure img {
    width: 100%; 
    height: auto;
    border-radius: 5px; 
}

figcaption {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #333; 
} */

footer {
    background-color: var(--secondary-color);
    color: black;
    text-align: center;
    padding: 15px;
    border-top: 1px solid var(--primary-color);
}

#lastModified {
    color: var(--primary-color);
}

footer #currentyear {
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    header {
        color: black;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--secondary-color);
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        padding: 10px 0;
    }

    .hamburger {
        display: block;
        background: none;
        border: none;
        font-size: 30px;
        color: white;
        cursor: pointer;
    }

    .nav-links.active {
        display: flex;
    }
}
